## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build
[Bb]in/
[Oo]bj/
x64/
x86/

## NuGet
packages/
!packages/build/
!packages/repositories.config

## IIS Express
/.vs/
/IISExpress/

## Logs
*.log

## SQL Server
*.mdf
*.ldf

## Publish
publish/
App_Data/*.mdf
App_Data/*.ldf

## Rider / ReSharper
_ReSharper*/
*.DotSettings.user

## Test Results
TestResults/

## Azure
PublishProfiles/

## Windows
Thumbs.db
Desktop.ini

## Temp
*.tmp
*.cache
*.bak
*.old

## Node (si llegara a existir)
node_modules/

## npm
npm-debug.log*

## Yarn
yarn-error.log